doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dance WebSite 
        style 
          include ../static/style.css 
    body 
        nav#navbar
          ul#navbar_ul 
            li #[a(href="/") Home] 
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/classinfo") Clasees Info] 
            li #[a(href="/contact") Contact Us]
        section#intro Introduction Section
        section#sponser Sponser Section
        footer#footer Our Footer
        include ../static/script.js
    