<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
     include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact us">Contact us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h3>GYM LIMITED MEMBERSHIP-Hurry fill this form now</h3>
        <form action="/submitted" method="post" id="f_contact">
            <label for="name">Name:</label> 
            <input type="text" name="name" id="name" placeholder="Enter Your Name">
            <br>
            <label for="age">Age:</label> 
            <input type="text" name="age" id="age" placeholder="Enter Your Age">
            <br>
            <label for="gender">Gender:</label>
            <input type="text" name="gender" id="gender" placeholder="Enter Your Gender">
            <br>
            <label for="address">Address:</label>
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter Your Complete Address"></textarea>
            <br>
            <label for="more">More About You:</label>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="Enter Ideal Details For Defining Goals"></textarea>  
            <br>  
            <div class="buttons">
            
               <button type="submit">SUBMIT</button> 
               <button type="reset">RESET</button>         
            </div>
        </form>
    </div>
        //-  <!-- <<p> #{content}</p> 
        //-   <h1>this is served page</h1>> -->
</body>
</html>