doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
     div#container
        form(action="/submit",method="post" )
            input(type="text" name="Name" placeholder="Enter Your Name")
            input(type="number", name="age" placeholder="Enter Your Age")
            input(type="submit", value="submit")
        form(action="/show",method="get")
            input(type="submit", value="Show Data")